### Importações

In [7]:
from pandas import *

#### Criando um DataFrame

In [8]:
df = DataFrame({
    "Produto": [16320, 23400, 26440, 28790, 36540],
    "QtCO": [344, 1435, 2899, 310, 431],
    "QtMin": [200, 500, 800, 150, 100],
    "QtVendas": [128, 937, 239, 245, 617]
})

#### Adicionando a Coluna Estq. após vendas

In [9]:
df["Estq. após vendas"] = df["QtCO"] - df["QtVendas"]

#### Adicionando a Coluna Necess.

In [10]:
def completa_quantidade(row):
    if row["Estq. após vendas"] < row["QtMin"]:
        return row["QtMin"] - row["Estq. após vendas"]
    else:
        return 0

df["Necess."] = df.apply(lambda row: completa_quantidade(row), axis=1)

#### Adicionando a Coluna Transf. de Arm p/ CO

In [21]:
def transfere(row):
    if row["Necess."] > 1 and row["Necess."] < 10:
        return 10 or row["Necess."]  
    else: 
        return row["Necess."]
df["Transf. de Arm p/ CO"] = df.apply(lambda row: transfere(row), axis=1)

### Setando a coluna Produto retirando o index

In [22]:
df.set_index("Produto")

,QtCO,QtMin,QtVendas,Estq. após vendas,Necess.,Transf. de Arm p/ CO
Produto,,,,,,
16320,344,200,128,216,0,0
23400,1435,500,937,498,2,10
26440,2899,800,239,2660,0,0
28790,310,150,245,65,85,85
36540,431,100,617,-186,286,286

#### Adicionando o Título a Tabela

In [23]:
df.style.set_caption("Necessidade de Transferência Armazém para CO")